
.home-article{
	padding: 40px;
	padding-bottom: 0;
	box-sizing: border-box;
	background: #fff;
	//border: 1px solid #f1f1f1;
	border-radius: 2px; 
	transition: box-shadow 0.5s;
	&:hover{
		box-shadow: 0 10px 20px 2px #e4e4e4;
		z-index: 10;
		position: relative;
	}
	.title{
		text-align: center;
		font-size: 30px;
		font-weight: 400;
		height: 50px;
		a{
			color: #555;
		}
	}
	.time-type{
		font-size: 14px;
		color: #999999;
		text-align: center;
		line-height: 20px;
		letter-spacing: 2px;
		.time:after{
			content: '';
			height: 13px;
			width: 1px;
			background: #999999;
			display: inline-block;
			margin: 0 10px;
		}
	}
	.abstract{
		margin-top: 30px;
		p{
			font-size: 14px;
			color: #666666;
			letter-spacing: 1px;
			line-height: 25px;
			overflow: hidden;
		}
		.show-all{
			font-size: 14px;
			margin: 0 auto;
			width: 80px;
			text-align: center;
			margin-top: 30px;
			font-weight: 600;
			cursor: pointer;
			position: relative;
			a{
				color: #555555;
			}
			&:before{
				content: '';
				display: inline-block;
				height: 26px;
				width: 1px;
				background: #ccc;
				position: absolute;
				top:-3px;
				left:-5px;
			}
			&:after{
				content: '';
				display: inline-block;
				height: 26px;
				width: 1px;
				background: #ccc;
				position: absolute;
				top:-3px;
				right:-5px;
			}
		}
	}
	.func{
		border-top: 1px solid #f1f1f1;
		margin-top: 20px;
	}
}	